################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/b_Multiplex/.vs/b_Multiplex/copilot-chat/09c09eb5/sessions/c60c893a-0bc3-4263-93e6-e617a7acadf3
/b_Multiplex/.vs/b_Multiplex/CopilotIndices/18.3.502.33069/CodeChunks.db
/b_Multiplex/.vs/b_Multiplex/DesignTimeBuild/.dtbcache.v2
