@{
    ViewData["Title"] = "Master-Multiplex Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Master-Multiplex Page</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    </head>
    <body>
        <div class="text-center">
           
            <h1 class="display-4">Bienvenido al Master-Multiplex</h1>   

            <div class="square">

                <h2>Cartelera</h2>

                <div class="contButton">
                    <button>Funciones</button>
                    <button>Peliculas</button>
                </div>
             </div>

        </div>

        
    </body>
</html>



